@mixin responsive($breakpoint) {
    @if $breakpoint == sm {
        @media only screen and (max-width: 500px) { // 576
            @content;
        } 
    }
    @if $breakpoint == md {
        @media only screen and (max-width: $md-break-point) { //768px
            @content;
        }
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 1050px) { //992
            @content;
        }
    }
    @if $breakpoint == xl {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint == xxl {
        @media only screen and (min-width: 1400px) {
            @content;
        }
    }
    @else {
        @media only screen and (max-width: $breakpoint) {
            @content;
        }
    }
}



@mixin btn($color) {
    background-color: $color;
    &:hover {
        background-color: darken($color, 15);
    }
    @content;
}
@mixin btn-outline($color) {
    border: 1px solid rgba($color, 0.6);
    color: rgba($color, 0.8);
    &:hover {
        background-color: darken(rgba($color, 0.1), 5);
        color: rgba($color, 0.9);
    }
    @content;
}
@mixin btn-glass($color) {
    color: $color;
    background-color: rgba($color, 0.4);
    &:hover {
        background-color: rgba($color, 0.52);
    }
    @content;
}

@mixin main-and-fotter-transform {
    @include responsive(1400px) {
        top: 0;
    }
    @include responsive(1300px) {
        top: 4vh;
    }
    @include responsive(1240px) {
        top: 8vh;
    }
    @include responsive(1150px) {
        top: 13.5vh;
    }
    @include responsive(1050px) {
        top: 15vh;
    }
    @include responsive(980px) {
        top: 18.5vh;
    }
    @include responsive(900px) {
        top: 20vh;
    }
    @include responsive(850px) {
        top: 23vh;
    }
    @include responsive(800px) {
        top: 8vh;
    }
    @include responsive(750px) {
        top: 12.5vh;
    }
    @include responsive(610px) {
        top: 15vh;
    }
    @include responsive(590px) {
        top: 17vh;
    }
    @include responsive(560px) {
        top: 18.5vh;
    }
    @include responsive(530px) {
        top: 20vh;
    }
    @include responsive(500px) {
        top: 0;
    }
}