.collection {
    padding: $section-padding;

    .collection-item {
        margin-left: $row-item-gap;
        a {
            &:hover {
                color: inherit;
            }
            img {
                width: 26rem;
                border-radius: 4px;
                @include responsive(sm) {
                    width: 90vw;
                }
            }
            p {
                font-size: 0.8rem;
            }
        }
    }
}
