<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>تماشای آنلاین فیلم و سریال | نماوا</title>
</head>

<body>

    <div id="app">


        {{> ../components/Header/header }}


        <main>
            {{#if offers}}

            {{> ../components/Offer/offer offersData=offers }}

            {{/if}}

            {{#each videos}}

            {{> ../components/Movie/movie title=title type=type data=data }}

            {{/each}}

            {{#each starts}}

            {{> ../components/Stars/stars title=title data=data }}

            {{/each}}

            {{> ../components/Collection/collection data=collections }}

        </main>

        <footer>
            {{> ../components/footer }}
        </footer>

        <div class="wrapper"></div>
        <div id="loading">
            <p>لطفا تا بارگذاری کامل سایت صبر کنید</p>
        </div>
    </div>

</body>

</html>