<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>تماشای آنلاین فیلم و سریال | نماوا</title>
</head>

<body>

    <div id="app">

        <header id="header">
            {{> ../components/Header/header }}
        </header>

        <main>
            {{#if offers}}
            <section class="offers">
                {{> ../components/Offer/offer offersData=offers }}
            </section>
            {{/if}}

            {{#each videos}}
            <section class="movies">
                {{> ../components/Movie/movie title=title type=type data=data }}
            </section>
            {{/each}}

            {{#each starts}}
            <section class="stars">
                {{> ../components/Stars/stars title=title data=data }}
            </section>
            {{/each}}

            <section class="collection">
                {{> ../components/Collection/collection data=collections }}
            </section>

        </main>

    <footer>
        {{> ../components/footer }}    
    </footer>

    <div class="wrapper"></div>
    </div>

</body>

</html>