<div class="header-control">
    <button id="nextSlider" class="ml-2 btn btn-glass-white border-radius-full plus">
        <span class="fa fa-angle-right"></span>
    </button>
    <button id="prevSlider" class="ml-2 btn btn-glass-white border-radius-full plus">
        <span class="fa fa-angle-left"></span>
    </button>
</div>