<nav>
    {{> ../menu }}
</nav>

{{#each header.slideShow}}
    {{> headerItem active=@index title=title logo=logo description=description infoDescription=infoDescription info=info background=background }}
{{~/each}}
