<div class="footer-container">
    <div class="">
        <ul>
            <li>
                <a href="#">درباره نماوا</a>
            </li>
            <li>
                <a href="#">تماس با ما</a>
            </li>
            <li>
                <a href="#">نماوا مگ</a>
            </li>
            <li>
                <a href="#">درباره نماوا</a>
            </li>
            <li>
                <a href="#">کارت هدیه</a>
            </li>
            <li>
                <a href="#">قوانین و مقررات</a>
            </li>
            <li>
                <a href="#">سوالات متداول</a>
            </li>
            <li>
                <a href="#">خرید اشتراک</a>
            </li>
            <li>
                <a href="#">اپلیکیشن ها</a>
            </li>
            <li>
                <a href="#">شرایط مصرف اینترنت</a>
            </li>
        </ul>
    </div>

    <div class="cta-row">
        <div class="right">
            <a href="#">
                <span class="icon-container telegram">
                    <i class="fa fa-telegram"></i>
                </span>
            </a>
            <a href="#">
                <span class="icon-container instagram">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
            <a href="#">
                <span class="icon-container twitter">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
        </div>
        <div class="left">
            <div>
                <img src="images/symbol-01.png" alt="">
                <img src="images/symbol-02.png" alt="">
            </div>
        </div>
    </div>

    <div class="">
        <p class="end">
            خدمات ارایه شده در نماوا، دارای مجوز های لازم از مراجع مربوطه می باشد و هر گونه بهره برداری و سوء استفاده از محتوای نماوا، پیگرد قانونی دارد.
        </p>
    </div>
</div>