<nav>
    <div class="right">
        <div class="logo">
            <a href="/">
                {{> logo }}
            </a>
        </div>
        <div class="menu">
            <ul>
                {{#each header.menu}}
                <li>
                    <a href="{{ link }}">
                        {{ title }}
                    </a>
                </li>
                {{~/each}}
            </ul>

        </div>
    </div>
    <div class="left">
        <i class="fa fa-search"></i>
    </div>
</nav>