body {
    box-sizing: border-box;
    background-color: $background;
}
body {
    font-family: "iranyekan";
    color: white;
    overflow-x: hidden;
}

img {
    width: auto;
    height: auto;
}

p {
    line-height: 25px;
}

button {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.32s;
    &:hover {
        color: $secondary-color;
    }
}

.row {
    margin: 0;
}