<a class="movie" href="#">
    <div class="cover">
        <img src="{{ image }}" alt="">
        <div class="hover-info foreign-series">
            {{> '../Icons/play' }}
        </div>
    </div>
    <h4>{{ title }}</h4>
    <p>{{ subTitle }}</p>
</a>