<div class="collection-items collection-row-items">
    {{#each data}}
    <div class="collection-item">
        <a href="#">
            <img src="{{ imageUrl }}" alt="">
            <p>{{ caption }}</p>
        </a>
    </div>
    {{/each}}
</div>